P {
    margin: 30px 15px;
    padding: 20px 9px 19px 3px;
    background-color: aqua;

    /* border-style: solid;
    border-width: 20px;
    border-color:green; */


    border: 20px solid green;

}

h1 {border-style: solid;
    border-width:20px;
    border-color: palevioletred aquamarine palevioletred aquamarine;


}

